node_modules/
out/
dist/
coverage/
*.tsbuildinfo

.idea/
.vscode/
*.swp
*.swo

Thumbs.db
.DS_Store
desktop.ini

.env
.env.*
!.env.example

*.log
npm-debug.log*

*.blockmap
*.exe
*.dmg
*.AppImage
*.snap

*.tmp
*.temp
